<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="layout/layout :: head"></head>
</head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-ligth">
        <div class="card-header" th:text="${title}"></div>
        <div class="card-body">
            <h4 class="card-title">
            </h4>



        </div>
    </div>
</div>


<footer th:replace="/layout/layout :: footer"></footer>

</body>
</html>