<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="layout/layout :: head"></head>
</head>
<body>



<header th:replace="layout/layout :: header"></header>


<div class="container">

    <div class="card bg-ligth">

        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">

            <h4 class="card-title">
                <td><a class="btn btn-primary btn-xs" th:href="@{'/factura/form/' + ${cliente.id}}" th:text="'crear factura'"></a></td>
            </h4>

            <img th:if="${#strings.length(cliente.foto) > 0}" class="img-thumbnail rounded float-left" style="max-width: 20%" th:src="@{'/upload/' + ${cliente.foto}}" th:alt="${cliente.foto}"/>

            <ul class="list-group">
                <li class="list-group-item" th:text="${cliente.nombre}"></li>
                <li class="list-group-item" th:text="${cliente.apellido}"></li>
                <li class="list-group-item" th:text="${cliente.email}"></li>
                <li class="list-group-item" th:text="${cliente.creadoEn}"></li>
            </ul>

            <div th:if="${#lists.isEmpty(cliente.facturas)}" class="alert alert-info my-4" th:text="'No hay facturas asignadas para el cliente' + ' ' + ${cliente.apellido}"></div>

            <table th:if="${not #lists.isEmpty(cliente.facturas)}" class="table table-bordered table-striped my-4">
                <thead class="thead-inverse">
                <tr>
                    <th>Folio</th>
                    <th>Descrpcion</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Ver</th>
                    <th>Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="factura: ${cliente.facturas}">
                    <td th:text="${factura.id}"></td>
                    <td th:text="${factura.descripcion}"></td>
                    <td th:text="${factura.creadoEn}"></td>
                    <td th:text="${factura.total}"></td>
                    <td><a class="btn btn-primary btm-xs" th:href="@{'/factura/ver/' + ${factura.id}}" th:text="detalle"></a></td>
                    <td><a class="btn btn-danger btm-xs" th:href="@{'/factura/eliminar/' + ${factura.id}}" th:text="'eliminar'"
                    onclick="return confirm('¿Estas seguro de Eliminar la factura?')"></a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<footer th:replace="/layout/layout :: footer"></footer>

</body>
</html>